opencv-python
discord.py
asyncio
ctypes
psutil
requests
datetime
platform
numpy
webbrowser
pyautogui
pyperclip
pygame
Pillow
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
